stages:
  - install
  - build
  - deploy

variables:
  NODE_ENV: production
  NODE_VERSION: "20"

install_dependencies:
  image: node:${NODE_VERSION}-alpine
  stage: install
  script:
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/

build_project:
  image: node:${NODE_VERSION}-alpine
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/

deploy:
  stage: deploy
  script:
    - npm install -g vercel
    - vercel --prod --token=$VERCEL_TOKEN --confirm --scope $VERCEL_ORG_ID --project $VERCEL_PROJECT_ID
  only:
    - main
    - dev
  
